<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Hello, world!</title>
</head>






<body>

    <div style="width: 100%; height: 100%;" id="box">
        <div class="container">
            <br>
            <h1>Hello.. fill your details</h1>
            <br>
            <form action="/reg" method="post">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Enter Your name</label>
                    <input required type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Enter name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Select Courses</label>
                    <select required class="form-control" id="exampleFormControlSelect1" name="value">
      <option>Frontend</option>
      <option>Backend</option>
      <option>React</option>
      <option>Angular</option>
      <option>UIUX</option>
    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Enter your Collage</label>
                    <input required name="collagename" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter collage name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Enter Today Date</label>
                    <input required name="date" type="date" class="form-control" id="exampleFormControlInput1" placeholder="Enter collage name">
                </div>
                <button id="take" class="btn btn-primary" type="submit">Submit</button>



            </form>


        </div>
    </div>







    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js " integrity="sha256-w6/1B0uwkpR3uX0YUw3k2zzHnq6xDNdVZHLIdz8xV6I=" crossorigin=" anonymous "></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>
</body>

</html>